# ignore all files in data
data/**

# BUT keep folders (not files inside)
!data/**/

# keep DVC files only
!data/**/*.dvc
!data/**/.gitkeep

# env
env/
venv/
.venv/

# python cache
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# secrets
.env

# artifacts
artifacts/
logs/

# .DS_Store
.DS_Store